.q0 {
  fill: none !important;
}

.q1 {
  fill: #bf0000;
}

.q2 {
  fill: #820000;
}

.q3 {
  fill: #590000;
}

.q4 {
  fill: #3a0000;
}

[class*="q"] + title + .subdomain-text {
  stroke: #E7E7E7;
}

/* #cal-heatmap {
  overflow-y: scroll;
  width: 100% !important;
  padding: 2vh;
  display: flex;
  justify-content: center;
} */

.cal-heatmap-container{
  width: max-content;
  flex-shrink: 0;
}